meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title= docTitle
link(rel="stylesheet", href="/css/fa.min.css")
link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/animate.css")
link(rel="stylesheet", href="/css/base.css")
link(rel="stylesheet", href=`/css/${cssName}.css`)
script(src="/js/jquery-3.3.1.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/anime.min.js")
script(src="/js/util.js")
