div.dal-bg
	div.dals
		div.bt-close
			i.fas.fa-times
		div.dal-tit
		div.dal-conts.clear
			div
				img.dal-img(src="", alt="")
			ul
				li.dal-author
					span.tit 저자
					span.cont
				li.dal-isbn
					span.tit ISBN
					span.cont
				li.dal-sdate
					span.tit 출판일
					span.cont
				li.dal-price
					span.tit 가격
					span.cont
		div.dal-sumamry
		div.dal-bts.clear
			button.btn.btn-primary.fl 
				i.fas.fa-bars
				span 목록으로
			button.btn.btn-danger.fl 
				i.fas.fa-shopping-basket
				span 장바구니 담기
			button.btn.btn-danger.fr 
				i.fas.fa-trash
				span 삭제
			button.btn.btn-danger.fr 
				i.fas.fa-edit
				span 수정