nav.navbar.navbar-expand-sm.bg-dark.navbar-light.mb
	ul.navbar-nav
		li.nav-item
			a.nav-link.text-light(href="/html/book_in.html") 도서관리(관리자)-입력
		li.nav-item
			a.nav-link.text-light(href="/book") 도서목록보기
		//li.nav-item
			a.nav-link.text-light(href="/html/book_li.html") 도서목록보기(AJAX)