.navis {display: flex;}
.navis > .navi {flex: 1 1 25%; padding: 0.5rem; background: #eee; border:1px solid #999; margin-right: -1px;}
.navi_sel {background-color: #333 !important; color: #fff; font-weight: bold;}